<md-content ng-controller="adminCtrl">
    <md-card class="gaugeCard">
        <md-toolbar>
            <h3 style="margin-left: 2%">Type Of courses by %</h3>
        </md-toolbar>
        <div layout="row" layout-xs="column" layout-align="center center" style="margin-top: 1%">
            <div layout="column" layout-align="center center">
                <svg id="fillgauge1" width="100%" height="200" style="margin-left:1%"></svg>
                <h3>First Courses</h3>
            </div>
            <div layout="column" layout-align="center center">
                <svg id="fillgauge2" width="100%" height="200" style="margin-left:1%"></svg>
                <h3>Main Courses</h3>
            </div>
            <div layout="column" layout-align="center center">
                <svg id="fillgauge3" width="100%" height="200" style="margin-left:1%"></svg>
                <h3>Deserts</h3>
            </div>
        </div>
    </md-card>
    <div layout="row">
    <md-card class="bubbleCard">
        <md-toolbar>
            <h3 style="margin-left: 2%">How many chefs in Each Genre?</h3>
        </md-toolbar>
        <div layout="row" layout-align="center center">
            <div  class="bubbleChart"/>
        </div>
    </md-card>

    </div>
</md-content>



